* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h2,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background: #f6f6fe;
  margin-bottom: 24px;
}

.item-categories {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.gallery-item .img {
  width: 100%;
  height: 100%;
}

.gallery-item {
  max-width: 1128px;
  width: calc((100% - 24px * 2) / 3);
}

.titleName {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 24px;
}

#name-input {
  width: 360px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
  margin-top: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
  gap: 8px;
}

.form-input {
  border: 1px solid #808080;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  height: 40px;
  margin-top: 8px;
}
.form-input:hover {
  border: 1px solid #000;
}

.form-btn {
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.form-btn:hover {
  background-color: #6c8cff;
}
.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.widget p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
  margin-top: 50px;
}

.widget {
  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  height: 280px;
  background: #fff;
}

#controls {
  display: flex;
  gap: 16px;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  background: #f6f6fe;
  margin-bottom: 16px;
}

#controls input {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 20px;
  width: 150px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 160px;
  background: #f6f6fe;
}
.btn-create {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.btn-destroy {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #ff4e4e;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn-destroy:hover {
  background: #ff7070;
}
